
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    padding-top: 51px;
}
.container-fluid {
    min-height: calc(100% - 51px);
}
.text-center {
    display: flex;
    padding: 0px;
}
footer {
    height: 51px;
    background-color: #222;
    border-top: 1px solid;
    border-color: #080808;
}
.navbar-fixed-top {
    margin-bottom: 0px;
}
.navbar-brand {
    font-size: 1.6em;
}
h1 {
    font-size: 3em;
    color: #333;
    padding-bottom: 5%;
    font-family: 'Galdeano',sans-serif;
    vertical-align: top;
    display: block;
}
.epa {
    float: right;
    padding: 0px 0px 20px 30px;
    margin-top: -120px;
    height: 30%;
    width: 30%;
}
header {
    max-height: 120px;
    margin-top: 30px;
    padding-bottom: 0;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    overflow: hidden;
    background-image: url(img/logo.jpg);
    background-size: 250px 119px;
    background-repeat: no-repeat;
    background-position: left bottom;
}
.mainContent {
    margin: 5%;
}
.btn-primary {
    background-color: #144b6f;
}
.btn {
    font-size: 18px;
}
@media screen and (max-device-width: 800px) {
    .mainContent {
        text-align: center;
    }
}
h2,h3,h4 {
    font-weight: 700;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.columns {
    clear: both;
}
.first-column, .second-column, .third-column{
    padding-top: 20px;
    border: none !important;
}
.first-column, .second-column {
    padding-right: 30px;
}
.second-column, .third-column {
    padding-left: 30px;
}
.form-control {
    width: initial;
}
.navbar-default {
    border: none;
}
.carousel-control.left,.carousel-control.right {
    background-image: none;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
    text-shadow: 2px 2px 5px #144b6f;
    color: #b7dbe1;
}
.col-xs-12, .col-sm-10, .col-lg-8, .col-lg-10 {
    background-color: #fff;
    font-size: 18px;
    border: solid;
    border-width: 1px;
    border-top: none;
    border-bottom: none;
    border-color: #080808;
    min-height: 100%;
    padding-bottom: 20px;
}
.nav-tabs {
    padding-top: 50px;
    margin-right: 0;
}
.nav-tabs a {
    color: #144b6f;
}
.login {
    text-align: center;
}
.menu {
    float: right;
    font-size: 18px;
}
.row {
    background-color: #144b6f;
    background: -webkit-linear-gradient(rgba(20,75,111,1),rgba(58,130,143,0.8));
    background: -o-linear-gradient(rgba(20,75,111,1),rgba(58,130,143,0.8));
    background: -moz-linear-gradient(rgba(20,75,111,1),rgba(58,130,143,0.8));
    background: linear-gradient(rgba(20,75,111,1),rgba(58,130,143,0.8));
    min-height: 100%;
    overflow: auto;
    align-items: stretch;
    width: 100%;
    margin: 0px;
}
.mandatory {
    color: red;
}
.size12 {
    font-size: 12pt;
}
h3 {
    font-size: 16pt;
    text-transform: uppercase;
}
.navContainer {
    min-width: 70%;
}
#mainNavbar {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-default {
    background-color: transparent;
}
.navbar-right li {
	margin-right: 0px;
}
.contact-list, .contactForm, .loginForm, .accounts, .registration, .booking, .users, #editpages {
    padding-left: 0px;
    list-style: none;
}
.registration, .booking, .users, .accounts, .contactForm li, .contact-list li {
    padding-top: 10px;
}
.contact-list li {
    display: block;
}
.loginForm li {
    padding: 10px;
}
.forgot a {
    font-size: 16px;
    vertical-align: center;
}
label {
    color: #666;
    font-weight: normal;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
}
.cLabel {
    font-weight: bold;
} 
.cContent, .lInput, .labels, .inputs {
    display:inline-block;
    vertical-align: top;
}
input {
    vertical-align: top;
}
input, select {
	width: 200px !important;
	box-sizing: border-box !important;
}
.loginButton button {
    width: 100px;
}
hr {
    border-top-color: #9d9d9d;
}
.address {
    width: 60%;
}
.left-column, .right-column {
    vertical-align: top;
}
#delete {
	margin-top: 20px;
}
#adminView, #bookingView, #jobsheetViewAdmin, #jobsheetViewStaff {
	overflow: auto;
}

/*Media Query for laptops and desktops*/
@media (min-width: 1024px) {
    .lLabel {
        width: 92px;
        text-align: left;
    }
    .lInput {
        margin-left: 10px;
    }
    .cLabel {
        min-width: 20%;
    }
}
/*Media Query for tablets and bigger devices*/
@media (min-width: 768px) {
    .navbar li {
        font-size: 1em;
    }
    .loginForm {
        margin: auto;
    }
    .loginForm li {
        text-align: center;
    }
    .forgot {
        padding-right: 20px;
    }
    .cLabel, .lLabel {
        display: inline-block;
    }
    .left-column, .right-column {
        display: inline-block;
        width: 45%;
    }
    .labels {
        width: 25%;
    }
    .inputs {
        width: 74%;
    }
    .left-column input, .right-column input {
        max-width: 100%;
    }
    .contact-list, .contactForm, .loginForm, .accounts, .registration, .booking, .users {
        text-align: left;
    }
    .registration li, .booking li, .users li, .contact-list li, .accounts li, #editpages li {
    	padding-bottom: 20px;
	}
	#selectpage .btn {
    	margin-left: 20px;
    }
}
/*Media Query for mobiles and tablets*/
@media (max-width: 1024px) {
    header {
        background-position: top left;
        padding-top: 60px;
        max-height: none;
    }
}
/*Media Query for large desktop devices*/
@media (min-width: 1200px) {
    .navbar li {
        font-size: 1.2em;
    }
}
/*Media Query for mobile devices*/
@media (max-width: 767px) {
    #mainNavbar {
        border: none;
    }
    #mainNavbar ul {
        border: none;
    }
    #mainNavbar li {
        width: 100%;
        text-align: center;
    }
    #mainNavbar a {
        border: none;
    }
    #mainNavbar .active a {
        background-color: #eee;
    }
    .labels{
        display: none;
    }
    header {
        background-position: center;
    }

    textarea {
        max-width: 100%;
    }
    .forgot {
        padding-bottom: 10px;
    }
    .cLabel, .lLabel, .loginButton, .forgot, .loginForm li, .inputs, label {
        display: block;
    }
    .epa {
        margin-top: 0px;
        height: 50%;
        width: 50%;
        float: none;
        padding: 0px 0px 20px 0px;
    }
    .loginForm li{
    	text-align: center;
    }
    .form-control {
    	margin: auto;
    	text-align: center;
    }
	label {
		text-align: center;
		padding-bottom: 10px;
	}
    .mainContent li {
    	text-align: left;
    }
    .contactForm li, .loginForm li {
    	text-align: center;
    }
    .contact-list li{
        padding-right: 0px;
        text-align: center;
    }
    .registration .buttons, .accounts .buttons, .booking .buttons, .users .buttons {
    	display: inline-block;
    }
    .registration li div .right-column.buttons, .accounts li div .right-column.buttons, 
    .booking li div .right-column.buttons, .users li div .right-column.buttons {
    	float: right;
    }
    .bookingBtn, .selectUserBtn {
    	text-align: center;
    }
    #selectpage .btn, .users li div .right-column #fillform  {
    	margin-top: 20px;
    }
    #editpages li {
    	padding-top: 20px;
    	text-align: center;
    }
    #delete {
    	display: block;
    	margin-left: auto;
    	margin-right: auto;
    }
}
/*Media Query for tablets*/
@media (min-width: 768px) and (max-width: 1023px)
{
	.labels {
		width: 100%;
	}
	.inputs {
		width: 100%;
	}
	.left-column, .right-column {
		width: 49%;
	}
	.cLabel {
        min-width: 30%;
    }
}